@charset "UTF-8";

/* hide Org figure numbers, whose generation in HTML is currently
   buggy and un-customizable */
.figure-number {
    display: none;
}

/* center captions relative to images */
figure {
    display: inline-block;
    text-align: center;
}

/* Reduce size of image captions and non-content notices */
footer, figcaption, .note, p.note, .caption {
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

.note, p.note {
    font-style: italic;
}

/* Navigation links */
.navlinks {
    display: flex;
    flex-direction: flow;
    justify-content: space-between;
    align-items: baseline;

    /* CSS Grid attempt */
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr 2fr; */
    /* grid-template-rows: repeat(2, 1fr [row-start]); */
    /* justify-items: stretch; */
    /* justify-content: stretch; */
}

.navlink {
    width: 300px;
    /* CSS Grid attempt */
    /* display: flex; */
}

ralign, .next {
    text-align: right;
}

footer.links {
    display: grid;
    place-items: center;
    text-align: center;
}

/* centered images */
.center {
    display: grid;
    place-items: center;
}

/* side-by-side images */
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

/* Tufte CSS styles */
html {
    font-size: 15px;
}

body {
    width: 80%;
    padding: 2%;
    margin: 5% 5%;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #FDF6E3;
    color: #556b72;
    max-width: 1000px;
    counter-reset: sidenote-counter;
}

a {
    /* tufte-css - */
    /* color: inherit; */
    /* Doom Solarized Light - */
    color: #268bd2;
}

/* ox-tufte only uses h1 for the title. Actual h1's are exported as
   h2, h2's as h3, and so on. So I use the same color for h1 and h2. */

h1 {
    color: #d33682;
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h1 a {
    color: #d33682;
    text-decoration: none;
}

h2 {
    color: #268bd2;
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h2 a {
    color: #268bd2;
    text-decoration: none;
}

/* h2's (exported by ox-tufte as h3's) are usually orange in
   doom-molokai, but so are the links. Thus, I give h2's the color of
   h3's, skipping over the orange. */

h3 {
    color: #d33682;
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

h3 a {
    color: #d33682;
    text-decoration: none;
}

h4 {
    color: #6c71c4;
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

h4 a {
    color: #6c71c4;
    text-decoration: none;
}

/* Adds dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #002b36;
        color: #839496;
    }
    a {color: #268bd2;}
    h1 {color: #268bd2;}
    h1 a {color: #268bd2;}
    h2 {color: #268bd2;}
    h2 a {color: #268bd2;}
    h3 {color: #859900;}
    h3 a {color: #859900;}
    h4 {color: #35a69c;}
    h4 a {color: #35a69c;}
}

hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

.numeral {
    font-family: et-book-roman-old-style;
}

.danger {
    color: red;
    font-style: italic;
}

article {
    padding: 5rem 0rem;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p,
dl,
ol,
ul,
nav {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
    margin: 5em 0;
}

div.epigraph > blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
    font-style: italic;
}

div.epigraph > blockquote > footer {
    font-style: normal;
}

div.epigraph > blockquote > footer > cite {
    font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
    font-size: 1.4rem;
}

blockquote p {
    width: 55%;
    margin-right: 40px;
}

blockquote footer {
    width: 55%;
    font-size: 1.1rem;
    text-align: right;
}

section > p,
section > footer,
section > table {
    width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
    width: 50%;
    -webkit-padding-start: 5%;
}

dt:not(:first-child),
li:not(:first-child) {
    margin-top: 0.25rem;
}

figure.fullwidth figcaption {
    margin-right: 24%;
}

/* Sidenotes, margin notes, figures, captions */
iframe, img, video {
    max-width: 100%;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -45%;
    width: 40%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    padding-left: 5%;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    font-size: 1rem;
    top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

div.fullwidth,
table.fullwidth {
    width: 100%;
}

div.table-wrapper {
    overflow-x: auto;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: .03em;
}

code, pre > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
    font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
    font-size: 0.80em;
}

.marginnote > code,
.sidenote > code {
    font-size: 1rem;
}

pre > code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
}

pre.fullwidth > code {
    width: 90%;
}

.fullwidth {
    max-width: 90%;
    clear:both;
}

span.newthought {
    font-variant: small-caps;
    font-size: 1.2em;
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 760px) {
    body {
        width: 90%;
        padding-left: 1%;
        padding-right: 5%;
    }

    hr,
    section > p,
    section > footer,
    section > table {
        width: 100%;
    }

    pre > code {
        width: 97%;
    }

    section > dl,
    section > ol,
    section > ul {
        width: 90%;
    }

    figure {
        max-width: 90%;
    }

    figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
        width: 100%;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 85%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }

    div.table-wrapper,
    table {
        width: 85%;
    }

    img {
        width: 100%;
    }
}
